.button {
  /* height: 30px; */
  height: 25px;
  border: 1px solid var(--tris-button-border-color);
  border-radius: 15px;
  padding: 8px;
  width: 200px;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  text-decoration: none;
  color: inherit;
}

.button:hover {
  cursor: pointer;
}

.button svg {
  width: 30px;
  height: 30px;
  fill: var(--tris-button-svg-color);
}
