.button {
  letter-spacing: 3px;
  text-indent: 3px;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.button svg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}