.mainWallpaper {
  width: 100%;
  height: 800px;
}

/* .modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
  } */

/* Font: Opzione 1 */
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Font: Opzione 2 */
/* .gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* Font: Opzione 3
.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
} */

.waveTextAnimated {
  margin-top: 0.6em;
  font-size: 50px;
  text-align: center;
}

/* .waveTextAnimated span {
  display: inline-block;
  -webkit-animation: wave-text 3s ease-in-out infinite;
  animation: wave-text 3s ease-in-out infinite;
} */

/* .waveTextAnimated span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.waveTextAnimated span:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.waveTextAnimated span:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.waveTextAnimated span:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.waveTextAnimated span:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.waveTextAnimated span:nth-of-type(6) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveTextAnimated span:nth-of-type(7) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.waveTextAnimated span:nth-of-type(8) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.waveTextAnimated span:nth-of-type(9) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.waveTextAnimated span:nth-of-type(10) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.waveTextAnimated span:nth-of-type(11) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.waveTextAnimated span:nth-of-type(12) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
.waveTextAnimated span:nth-of-type(13) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.waveTextAnimated span:nth-of-type(14) {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
.waveTextAnimated span:nth-of-type(15) {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.waveTextAnimated span:nth-of-type(16) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
} */

/* Animazione Opzione 1: "Typing" */

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typing {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #02162f;
  animation: typing 4s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

h1.typing-container {
  display: inline-block;
  max-width: fit-content;
} */

/* Animazione Opzione 2: "Fade-in" */

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.total-title {
  position: relative;
  font: 14vw;
  -webkit-text-stroke: 0.3vw #d8d8d8;
}

.total-title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: red;
  -webkit-text-stroke: 0vw #444444;
  border-right: 2px solid red;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

@-webkit-keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.6em);
  }
  100% {
    transform: translateY(0em);
  }
}

/* Opzioni Font 1 + 2 + 3 */
.title {
  margin-top: 10%;
  font-size: 90px;
  /* color: #79d5e8; */
  /* -webkit-text-stroke-width: 4px; */
  /* -webkit-text-stroke-color: #1e495c; */
  color: #02162f;
  text-align: center;
  position: fixed;
  /* font-family: "Modak", system-ui; */

  /* Opzione 1 */
  /* font-family: "Jersey 15", sans-serif; */

  /* Opzione 2 */
  /* font-family: "Gochi Hand", cursive; */

  /* Opzione 3 */
  font-family: "Luckiest Guy", cursive;
}

.segno {
  color: white;
}

.dev {
  /* color: #e7b15e; */
  color: #ffffff;
}

.site-header {
  /* background-image: url("PROVAPROVISSIMA.png"); */
  background-image: url("background_test.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 80vh;
  position: relative;
}

.site-header-mask {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  -webkit-mask: url("maschera.png");
  mask: url("maschera.png");
  mask-position: bottom;
  mask-size: cover;
}

.corpo {
  color: white;
  background-color: black;
}

.image-logo {
  height: 50px;
  width: 40px;
}
