* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #02162e;
  --secondary-bg-color: #614293;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atomic-age-regular {
  font-family: "Atomic Age", system-ui;
  font-weight: 400;
  font-style: normal;
}

.parallax-outer {
  height: 335vh;
  overflow-x: hidden;
  background-color: var(--primary-bg-color);
}

.parallax {
  height: 110vh;
  width: 100%;
  position: relative;
}

.bushesImg {
  position: absolute;
  bottom: 185vh;
  width: 100%;
}

.bushesContainer {
  position: absolute;
  width: 100vw;
  z-index: 4;
  top: 100vh;
}

.bushes,
.mountains1,
.mountains2,
.mountains3 {
  position: absolute;
  width: 100vw;
  bottom: 0;
  z-index: 5;
}


.mountains1 {
  position: absolute;
  bottom: 15vh;
  z-index: 3;
}

.mountains2 {
  position: absolute;
  bottom: 2vh;
  z-index: 2;
}

.mountains3 {
  position: absolute;
  bottom: -1vh;
  z-index: 1;
}

.sun {
  position: absolute;
  top: 5vh;
  width: 100vw;
  height: auto;
}

.stars {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  opacity: 0;
  display: none;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-in-fwd {
  -webkit-animation: fade-in-fwd 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 3s 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}


#titleDevP {
  position: absolute;
  font-size: 5em;
  color: white;
  font-family: "Madimi One";
  font-weight: 600;
  top: 40vh;
  z-index: 3;
  left: calc(50% - 338px);
}

.playgroundHome {
  color: var(--primary-bg-color);
}

.navProvaContainer{
  background-color: #c2b6c0;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  height: 70px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.logoProvaNav{
  font-family: "Madimi One";
  height: 65px;
  width: 65px;
  color: #02162e;
}

.imgLogoNav{
  height: 65px;
  width: 65px;
}


.dxNav{
  display: flex;
  gap: 10px;
}


.buttonProvaNav{
  color: white;
  background-color: #02162e;
  border-radius: 15px;
  padding: 5px;
  font-family: "Madimi One";
  border: none;
}

/* ---------MEDIA QUERIES------------ */

@media screen and (max-width: 1700px){

  .bushesImg {
    bottom: 187vh;
    width: 100%;
  }
  
  .bushesContainer {
    width: 100vw;
    z-index: 4;
    top: 1;
  }

  .sun{
    top: 20vh;
  }

  #titleDevP {
    top: 50vh;
  }
  

}

@media screen and (max-width: 1300px){

  .bushesImg {
    bottom: 135vh;
    width: 100%;
  }

  .sun{
    top: 40%;
  }

  #titleDevP {
    font-size: 50px;
    top: 59%;
    left: calc(50% - 195px);
  }
}

@media screen and (max-width:1024px) {

  .parallax-outer{
    height: 250vh;
    overflow-y:scroll;
  }
  .sun{
    top: 20vh;
    width: 150%;
    left: -25vw;
  }

  .mountains3{
    width: 150%;
    top: 25vh;
  }
  .mountains2{
    width: 150%;
    top: 25vh;
  }
  .mountains1{
    width: 200%;
    top: 5vh;
  }

  .bushesImg {
    position: absolute;
    top: -94vh;
   /* bottom: 30vh; */
    width: 200%;
  }

  #titleDevP{
    top: 55vh;
  }
}

@media screen and (max-width: 800px) {

  .sun{
    top: 30vh;
    width: 150%;
    left: -25vw;
  }

  .mountains3{
    width: 150%;
    top: 35vh;
  }
  .mountains2{
    width: 150%;
    top: 40vh;
  }
  .mountains1{
    width: 200%;
    top: 20vh;
  }

  .bushesImg {
   bottom: 239vh;
    width: 250%;
  }

  #titleDevP{
    top: 55vh;
  }
}



@media screen and(max-width: 500px) {
  
}

@media screen and(max-width: 500px) {
  
}