.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo {
  width: 150px;
  height: 150px;
  fill: var(--tris-logo-svg-color);
  animation: slide-in-top 0.5s 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -webkit-animation: slide-in-top 0.5s 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: 48px;
  text-indent: 48px;
  animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  -webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* animation slide-in-top (logo) */

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* animation tracking-in-expand (text) */

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
