.container {
  display: flex;
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
  gap: 20px;
  padding: 84px 0;
}

.img {
  width: 450px;
}

.img img {
  border-radius: 12px;
  width: 450px;
  height: 300px;
}

.info {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.title {
  flex-basis: 40%;
  letter-spacing: 6px;
  font-size: 28px;
  text-align: center;
}

.description {
  flex-basis: 60%;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.description p {
  padding-bottom: 30px;
}