.container {
  background-color: #02162e;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.chevronHMPG {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Madimi One';
  /* text-transform: uppercase; */
  font-size: 40px;
}


.chevronDownForMore {
  height: 120px;
  width: 150px;
}

@keyframes upDown {
  0% {
    top: 0;
    transition-timing-function: ease-in-out;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
    transition-timing-function: ease-in-out;
  }
}