.container {
  background-color: black;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.chevron {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.chevronDownForMore {
  height: 150px;
  width: 150px;
}
