.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  animation: slide-in-bottom 0.5s 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -webkit-animation: slide-in-bottom 0.5s 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* animation slide-in-bottom (button) */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}