.container {
    width: 100vW;
    height: 100vh;
    background-image: url('/backgroundHome.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 12vw;
}


