* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}



.pingpong {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2a5298;
}

.campo {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #13772e;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 70px;
    background-color: #ffffff;
}

 .paddle.left {
    top: 40px; 
    left: 0;
} 

 .paddle.right {
     top: 40px; 
    right: 0;
} 

.ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
}