.pop-up{
    position: absolute;

    top: 125px;
    z-index: 100;

    width: 350px;
    height: 200px;

    border: 2px solid #dbb906;
    border-radius: 16px;

    background-color: #292929;
    color: #dbb906;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.btn-pop-up{
    background-color: #dbb906;
    color: #292929;
    font-weight: bold;
    
    width: 180px;
}

