*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
 overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  background-size: 100vw;
  background-color: inherit;
  background-color: black;
}


::-webkit-scrollbar {
  background: transparent;
  width: 7px;     
}

::-webkit-scrollbar-track {
  background: rgb(4, 4, 4);

}

::-webkit-scrollbar-thumb {
  background-color: rgba(182, 182, 182, 0.998);
  border-radius: 20px;
  width: 5px;
}

::-webkit-scrollbar-corner{
  border-radius: 10px;
  background: rgba(116, 116, 116, 0);
}


