*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
 overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  background-color: inherit;
  background-color: transparent;
}


::-webkit-scrollbar {
  background: transparent;
  width: 7px;     
}

::-webkit-scrollbar-track {
  background: rgb(4, 4, 4);

}

::-webkit-scrollbar-thumb {
  background-color: rgba(182, 182, 182, 0.998);
  border-radius: 20px;
  width: 5px;
}

::-webkit-scrollbar-corner{
  border-radius: 10px;
  background: rgba(116, 116, 116, 0);
}

.linkHomeLogo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.homeLogo{
  width: 65px;
  height: 65px;
}

@media screen and (max-width: 820px){
  .homeLogo{
    width: 70px;
    height: 60px;
  }
}

@media screen and (max-width: 700px){

}

@media screen and (max-width: 560px){

}

@media screen and (max-width: 430px){
    .homeLogo{
      width: 50px;
      height: 45px;
    }
}



