*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.tastiera{
    display: flex;
    margin-top: 20px;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
}

.parolaCorretta{
    color: white;
    font-size: 24px;
    margin-top: 20px;
}



.first-row{
    display: flex;
    margin-bottom: 5px;
}
.second-row{
    display: flex;
    margin-bottom: 5px;
}
.third-row{
    display: flex;

}

.button{
    height: 58px;
    width: 58px;
    background-color: rgb(72, 73, 75);
    color: rgb(146, 146, 146);
    border-radius: 12px;
    border: 1px solid rgb(241, 241, 241);
    margin: 2px;
    font-size: 15px;
    font-weight: 600;
    margin: 4px;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(77, 77, 77);
    color: white;
}

.main-grid{
    display: flex;
    flex-direction: column;
}






.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    gap: 60px;
}

h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(103, 104, 104);
    border-radius: 6px;
    margin: 5px;
    height: 62px;
    width: 62px;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.wordCellsContainer{
    display: flex;
    margin-bottom: 6px;
}

.row{
    display: flex;
}



.disabledButton{
    background-color: rgb(24, 24, 24);
    color: rgb(95, 94, 94);
}



.play-again {
    height: 50px;
    width: 180px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 6px;
    background-color: black;
    border: 3px solid white;
    color: white;
}


.correctButton{
    background-color: green;
    color: white;
}

.correctButton:hover{
    background-color: rgb(0, 80, 0);
}