@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'FontoshanHandwrite';
  src: url('./FontoshanHandwrite.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page {
  background-color: var(--tris-background-color);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FontoshanHandwrite";
  /* font-family: "Genos"; */
  color: var(--tris-text-color);
}

.themeButton {
  position: fixed;
  right: 24px;
  top: 24px;
}