/* App.css */

@font-face {
  font-family: "FontoshanHandwrite";
  src: url("./FontoshanHandwrite.ttf") format("truetype");
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./Tic-tac-toe.png);
}

body {
  background-color: #f0f0f0;
  /* font-family: Arial, sans-serif; */
}

.App {
  text-align: center;
  margin-top: 50px;
}

.trix {
  display: inline-block;
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  /* cursor: pointer; */
}
/* Martina: Ho aggiunto il cursore 'pencil' all'hover di ".cell" */
.cell:hover {
  cursor: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8787 3.70705C17.0503 2.53547 18.9498 2.53548 20.1213 3.70705L20.2929 3.87862C21.4645 5.05019 21.4645 6.94969 20.2929 8.12126L18.5556 9.85857L8.70713 19.7071C8.57897 19.8352 8.41839 19.9261 8.24256 19.9701L4.24256 20.9701C3.90178 21.0553 3.54129 20.9554 3.29291 20.7071C3.04453 20.4587 2.94468 20.0982 3.02988 19.7574L4.02988 15.7574C4.07384 15.5816 4.16476 15.421 4.29291 15.2928L14.1989 5.38685L15.8787 3.70705ZM18.7071 5.12126C18.3166 4.73074 17.6834 4.73074 17.2929 5.12126L16.3068 6.10738L17.8622 7.72357L18.8787 6.70705C19.2692 6.31653 19.2692 5.68336 18.8787 5.29283L18.7071 5.12126ZM16.4477 9.13804L14.8923 7.52185L5.90299 16.5112L5.37439 18.6256L7.48877 18.097L16.4477 9.13804Z' fill='%23000000'/%3E%3C/svg%3E"),
    pointer;
}

.cell:hover {
  border-radius: 50%;
  background-color: #aebef7;
  transition: 0.4s;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

.winning-cell {
  color: blue;
  font-weight: 800;
}

.scoreboard {
  border: 1px solid black;
}
